.carousel-item img {
    height: 400px;
    object-fit: cover;
}
@media (max-width: 768px) {
    .carousel-item img {
        height: 250px;
    }
}
.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.link{
    text-decoration:none;
    color: black;
}

